@import "../../index";

.square {
  background: #005a2b;
  border: 1px solid #ccc;
  float: left;
  font-size: $font-size;
  font-weight: bold;
  line-height: $box-size;
  height: $box-size;
  padding: 0;
  text-align: center;
  width: $box-size;
}

.square:focus {
  outline: none;
}

/*.square:hover {
  background: #000;
}
*/
